.item-select-searchable {
  .label {
    margin-right: 0;
  }

  // .toolbar-background-md {
  //     border-color: map-get($colors, light );
  //     background: map-get($colors, light );
  // }
}

.item > ion-icon,
.item-inner > ion-icon {
  min-height: 2.5rem;
  font-size: 2.5rem;
  line-height: 1;
}
.select-searchable {
  display: flex;

  &-label {
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-value {
    max-width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-icon {
    position: relative;
    width: 20px;
  }

  &-icon-inner {
    position: absolute;
    top: 50%;
    left: 5px;
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    pointer-events: none;
  }

  &-ios {
    .select-searchable-icon {
      height: 18px;
    }

    .select-searchable-icon-inner {
      top: 100%;
      // margin-top: -2px;
      color: $select-ios-icon-color;
    }

    .select-searchable-value {
      padding-left: $select-ios-padding-left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &-md {
    .select-searchable-icon {
      height: 19px;
    }

    .select-searchable-icon-inner {
      top: 100%;
      // margin-top: -3px;
      color: $select-md-icon-color;
    }

    .select-searchable-value {
      padding-left: $select-md-padding-left;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .select-searchable-label {
      color: $select-md-placeholder-color;
    }
  }

  &-spinner {
    &-background {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      background-color: #000;
      z-index: 100;
      opacity: 0.05;
    }

    ion-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 10;
      margin-top: -14px;
      margin-left: -14px;
    }
  }
}

ion-modal.my-modal {
  // @media (min-height: 200px) {
  //   ion-backdrop {
  //     visibility: visible;
  //   }
  // }
  ion-backdrop {
    visibility: visible;
  }

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-overlay;

  display: flex;

  align-items: center;
  justify-content: center;

  contain: strict;
  .modal-wrapper {
    &,
    .ion-page,
    .ion-page .content,
    .ion-page .content .scroll-content {
      contain: content;
      position: relative;
      top: auto;
      left: auto;
      max-height: 70vh;
    }

    z-index: $z-index-overlay-wrapper;
    display: flex;
    overflow: hidden;

    flex-direction: column;

    min-width: $alert-min-width;
    max-height: $alert-max-height;

    opacity: 0;

    height: auto;
    max-width: $alert-md-max-width;
    border-radius: $alert-md-border-radius;
    background-color: $alert-md-background-color;
    box-shadow: $alert-md-box-shadow;

    .ion-page .content {
      background-color: color($colors, light);
    }
  }
}
.select-searchable-md .select-searchable-value {
  padding-left: 0 !important;
}
