<ion-header no-border>
  <ion-navbar>
    <ion-title class="dropdown-title">{{selectComponent.title}}</ion-title>
  </ion-navbar>
  <ion-toolbar *ngIf="selectComponent.canSearch">
    <ion-searchbar #searchbarComponent [(ngModel)]="selectComponent.filterText" (ionInput)="filterItems()" debounce=1000
      [placeholder]="selectComponent.searchPlaceholder || 'Search'">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content style="overflow: scroll">
  <div class="select-searchable-spinner" *ngIf="selectComponent.isSearching">
    <div class="select-searchable-spinner-background"></div>
    <ion-spinner></ion-spinner>
  </div>
  <ion-list no-margin *ngIf="filteredItems.length" no-lines>
    <button text-wrap ion-item detail-none *ngFor="let item of filteredItems" (click)="select(item)">
      <ion-icon *ngIf="selectComponent.multiple" [name]="isItemSelected(item) ? 'checkbox' : 'square-outline'" [color]="isItemSelected(item) ? 'primary' : 'list-md-border-color'"
        item-left>
      </ion-icon>
      <ion-icon *ngIf="!selectComponent.multiple" [name]="isItemSelected(item) ? 'radio-button-on' : 'radio-button-off'"
        [color]="isItemSelected(item) ? 'primary' : 'list-md-border-color'" item-left>
      </ion-icon>
      <!-- <h2>{{selectComponent.formatItem(item)}}</h2> -->
      <h2 class="value">{{item}}</h2>
    </button>
  </ion-list>
  <div *ngIf="!filteredItems.length" margin> {{ selectComponent.emptyMessage }}</div>
</ion-content>
<ion-footer *ngIf="selectComponent.canReset || selectComponent.multiple">
  <ion-toolbar padding>
    <ion-row>
      <ion-col no-padding *ngIf="selectComponent.canReset" [attr.col-6]="selectComponent.canReset && selectComponent.multiple ? '' : null"
        [attr.col-12]="selectComponent.canReset && !selectComponent.multiple ? '' : null">
        <div class="right-float">
          <button class="btn-green-txt-only" ion-button (click)="reset()" [disabled]="!selectedItems.length"> Clear
          </button>
        </div>
      </ion-col>
      <ion-col no-padding *ngIf="selectComponent.multiple" [attr.col-6]="selectComponent.canReset && selectComponent.multiple ? '' : null"
        [attr.col-12]="!selectComponent.canReset && selectComponent.multiple ? '' : null">
        <div class="right-float">
          <button class="btn-green-txt-only" ion-button (click)="ok()"> OK </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>