select-searchable-page {
    .searchbar-md .searchbar-input {
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -3px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
        -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -3px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    }
    .dropdown-title .toolbar-title {
        font-size: 1.8rem;
        white-space: normal;
        span { font-size: .8em; font-weight: 300;}
    }

    .toolbar-background-md{
        border-color: #FAFAFA !important;
        background-color: #FAFAFA !important;
    }

    .toolbar-title-md{
        color: #4F525D !important;
    }

    .item-md{        
        color: #4F525D !important;
    }

    .item > ion-icon{
        min-height: 2.2rem;
        font-size: 2.2rem;
    }

    .value{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
