.notification-icon {
   display: flex;
   margin-top: 20vh;
   margin-left: auto;
   margin-right: auto;
   height: 100%;
   width: 25vh;
}

ion-row {
   width: 100%;
}

ion-icon {
   font-size: 15px;
}

.padding-top-cancel {
   padding-top: 0;
}

.padding-bottom-cancel {
   padding-bottom: 0;
}

.first-capital {
   text-transform: capitalize;
}

.item-card {
   width: 100%;
   margin: 1em 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background-color: white;
   padding: 0.6em;
}

ion-content.has-refresher > .scroll-content {
   background-color: white;
}

.margin-fix {
   margin-top: 2px;
   margin-left: 3px;
}

.item-inner {
   border-bottom: 0 !important;
}

.note-md {
   color: #3d3d3d;
}

accordion-list {
   margin: 0px;
}

#accept {
   border-color: #ccc;
   color: #28a745;
}
#reject {
   border-color: #ccc;
   color: red;
}
