<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{'SENT_ITEMS' | translate}}</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="refresh" pullingText="" refreshingSpinner="circles" refreshingText="Refreshing..."> </ion-refresher-content>
   </ion-refresher> -->

   <ion-grid class="ion-padding">
      <div *ngIf="cocSent.length === 0">
         <ion-row>
            <ion-img class="notification-icon" src="../../assets/imgs/emptystatus-04.png"></ion-img>
         </ion-row>
         <ion-row>
            <div class="full-width text-center line-spacing-small">
               <h1 class="primary-font">{{'TRANSACTIONS' | translate}}</h1>
            </div>
         </ion-row>
         <ion-row class="ion-text-wrap">
            <div class="full-width text-center">
               <h3 class="secondary-font">{{'NO_OUTGOING_TRANSACTIONS' | translate}}</h3>
            </div>
         </ion-row>
      </div>
      <div class="padding-width" *ngIf="cocSent.length > 0">
         <ion-row class="item-card" *ngFor="let item of cocSent; let index = index">
            <ion-row>
               <ion-icon name="time-outline"></ion-icon>
               <h5 class="primary-font margin-fix">{{item.sentDate}}</h5>
            </ion-row>
            <ion-row>
               <ion-col size="8" class="padding-bottom-cancel">
                  <h4 class="secondary-font">{{'ITEM' | translate}}</h4>
               </ion-col>
               <ion-col size="4" class="padding-bottom-cancel">
                  <h4 class="secondary-font text-right-align-horizontally">{{'QUANTITY' | translate}}</h4>
               </ion-col>
               <ion-col size="9" class="padding-top-cancel">
                  <h1 class="primary-font first-capital">{{item.assetCode}}</h1>
               </ion-col>
               <ion-col size="3" class="padding-top-cancel">
                  <h1 class="primary-font text-right-align-horizontally">{{item.quantity | number:'1.0-0'}}</h1>
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col size="6" class="padding-bottom-cancel">
                  <h4 class="secondary-font">{{ 'IDENTIFIER' | translate}}</h4>
               </ion-col>
               <ion-col size="6" class="padding-bottom-cancel">
                  <h4 class="secondary-font text-right-align-horizontally">{{'RECEIVER' | translate}}</h4>
               </ion-col>
               <ion-col size="6" class="padding-top-cancel">
                  <h4 class="primary-font">{{item.Identifier}}</h4>
               </ion-col>
               <ion-col size="6" class="padding-top-cancel">
                  <h4 class="primary-font text-right-align-horizontally">{{item.receiver}}</h4>
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col size="7" class="padding-bottom-cancel">
                  <h4 class="secondary-font">{{'VALID_TILL' | translate}}</h4>
               </ion-col>
               <ion-col size="5" class="padding-bottom-cancel">
                  <h4 class="secondary-font text-right-align-horizontally">{{'STATUS' | translate}}</h4>
               </ion-col>
               <ion-col size="7" class="padding-top-cancel">
                  <h4 class="primary-font">{{item.validTill}}</h4>
               </ion-col>
               <ion-col size="5" class="padding-top-cancel">
                  <h4 class="primary-font text-right-align-horizontally first-capital">{{item.Status}}</h4>
               </ion-col>
            </ion-row>
         </ion-row>
      </div>
   </ion-grid>
</ion-content>
