.notification-icon {
   display: flex;
   margin-top: 20vh;
   margin-left: auto;
   margin-right: auto;
   height: 100%;
   width: 25vh;
}

ion-row {
   width: 100%;
}

ion-icon {
   font-size: 15px;
}

.padding-top-cancel {
   padding-top: 0;
}

.padding-bottom-cancel {
   padding-bottom: 0;
}

.first-capital {
   text-transform: capitalize;
}

.item-card {
   width: 100%;
   margin: 1em 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   background-color: white;
   padding: 0.6em 0em 0.6em 0em;
}

ion-content.has-refresher > .scroll-content {
   background-color: white;
}

.margin-fix {
   margin-top: 2px;
   margin-left: 3px;
}

.item-inner {
   border-bottom: 0 !important;
}

.note-md {
   color: #3d3d3d;
}

accordion-list {
   margin: 0px;
}

#accept {
   border-color: #ccc;
   color: #28a745;
}
#reject {
   border-color: #ccc;
   color: red;
}

.primary-font {
   font-weight: 600;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.font-sm {
   font-size: 1.4rem !important;
}

.nft-svg {
   background: #d3e5db;
   width: 100%;
   max-width: 150px;
   height: 150px;
   object-fit: cover;
   border-radius: 12px !important;
}

.nft-cont {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.tag-cont {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   flex-wrap: nowrap;
   column-gap: 5px;
}

.tag {
   border-radius: 5px;
   background: #2d2d2d;
   color: #fff;
   text-align: center;

   font-style: normal;
   font-weight: 500;
   line-height: normal;
   padding: 2px 5px 2px 5px;
   max-width: 100px;
}

.cancel-btn {
   cursor: pointer;
   color: #000;
   text-align: right;

   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
}

.cancel-btn:hover {
   color: #2d2d2d;
}

.success {
   color: var(--ion-color-primary);
}

.warning {
   color: var(--ion-color-warning);
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 992px) {
   /*  .action-btn {
      width: 30%;
      max-width: 240px;
   } */

   .action-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-end !important;
   }
}
