page-login {

  @media all and (orientation:portrait) {
    img {
      width: 75%;
      height: auto;
      margin: 0 auto;
    }
    ion-row {
      align-items: center;
    }
    .loginbox {
      padding-top: 10% !important;
      padding-bottom: 5% !important;
      max-width: 85%;
      align-self: center;
      padding-left: 10%;
    }
    .logo{
      padding-top:20% !important;
    }
    .login-button {
      background-color: #00c853 !important;
    }
    .forgot-password{
      padding-top: 5%;
      width: auto;
      margin: auto;
      font-size: 0.9em;
    }
    ion-list {
      margin: 0;
    }
    .view {
      background-size: cover;
      background-repeat: no-repeat;
    }
    .hide-icon {
      color: #2EBE60 !important;
    }
    .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
      color: #2EBE60 !important;
    }
    .item-md.item-input .item-inner {
      border-bottom-color:2EBE60 !important;
    }
    .item.md {
      padding: 0 0 0 0 !important;
    }
    .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
      color: #28a745 !important;
    }
    ion-item.item-md.item-input.input-has-focus .item-inner,
    ion-item.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    ion-item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: #28a745 !important;
    box-shadow:none !important;
    }
    .passwordIcon{
      zoom:0.8;
      padding-top: 35px;
      z-index:1
   }
  }

  // @media all and (orientation: landscape)
  //  and (max-height: 320px) {
  //   img {
  //     display: none;
  //     width: 75%;
  //     height: auto;
  //     margin: 0 auto;
  //   }
  //   ion-row {
  //     align-items: center;
  //   }
  //   .loginbox {
  //     padding-top: 20% !important;
  //     padding-bottom: 20% !important;
  //     max-width: 85%;
  //     align-self: center;
  //     padding-left: 13%;
  //   }
  //   .forgot-password{
  //     padding: 5% 38%;
  //   }
  //   .logo{
  //     display: none;
  //     padding-top:20% !important;
  //   }
  //   .login-button {
  //     width: 75%;
  //     margin: auto;
  //     font-size: 0.9em;
  //     background-color: #00c853 !important;
  //   }
  //   ion-list {
  //     margin: 0;
  //   }
  //   .view {
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //   }
  //   .hide-icon {
  //     color: #00c853 !important;
  //   }
  //   // .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
  //   //   color: #00c853 !important;
  //   // }

  //   // ion-item.item-md.item-input.input-has-focus .item-inner,
  //   // ion-item.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
  //   // ion-item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  //   // border-bottom-color: #00c853 !important;
  //   // box-shadow: none;
  //   // }

  //   .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
  //     color: #00c853 !important;
  //   }
  //   .item-md.item-input .item-inner {
  //     border-bottom-color:#00c853 !important;
  //   }

  //   .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
  //     color: #00c853 !important;
  //   }

  //   ion-item.item-md.item-input.input-has-focus .item-inner,
  //   ion-item.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
  //   ion-item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
  //   border-bottom-color: #00c853 !important;
  //   box-shadow: none;
  //   }
  // }

  @media all and (orientation:landscape) {
    img {
      width: 45%;
      height: auto;
      margin: 0 auto;
    }
    ion-row {
      align-items: center;
      text-align: center;
    }
    .loginbox {
      padding-top: 0% !important;
      padding-bottom: 10% !important;
      padding-right: 16px !important;
      max-width: 75%;
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      margin: auto;
    }
    .forgot-password{
      padding-top: 5%;
      width: auto;
      margin: auto;
      font-size: 0.9em;
    }
    .logo{
      padding-top:5% !important;
    }
    .login-button {
      width: 75%;
      margin: auto;
      font-size: 0.9em;
      background-color: #00c853 !important;
    }
    .view {
      background-size: cover;
      background-repeat: no-repeat;
    }
    .hide-icon {
      color: #00c853 !important;
    }
    .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
      color: #00c853 !important;
    }
    .item-md.item-input .item-inner {
      border-bottom-color:#00c853 !important;
    }

    .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
      color: #00c853 !important;
    }

    ion-item.item-md.item-input.input-has-focus .item-inner,
    ion-item.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
    ion-item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: #00c853 !important;
    box-shadow: none;
    }

  }












  // .splash-bg {
    //     position: relative;
    //     // background: url('../assets/img/bg_image.jpg') no-repeat transparent;
    //     background-size: cover;
    //     height: 100%;
    //     z-index: -10;
    //     background-repeat: repeat-x;
    //     // animation: animatedBackground 40s linear infinite;
    //   }

    // // @keyframes animatedBackground {
    // // from { background-position: 0 0; }
    // // to { background-position: 100% 0; }
    // // }

    // #input-login    {
    //   background: transparent;
    //   border: none;
    //   box-shadow: none;
    //   -webkit-box-shadow: none;
    //   border-bottom-color: #28A745;
    // }

    // #list-login{
    //   padding: 0px 55px 20px 40px;

    // }
    // #label{
    //   color: black;
    //   font-family: 'Roboto', sans-serif;
    //   font-size: 22px;
    //   box-shadow: none;
    //   -webkit-box-shadow: none;
    //   border-bottom-color: black;
    // }

    // :-webkit-autofill,
    // :-webkit-autofill:hover,
    // :-webkit-autofill:focus {
    //   border: transparent !important;
    //   -webkit-text-fill-color: black;
    //   -webkit-box-shadow: none;
    //   box-shadow: none;
    //   transition: background-color 5000s ease-in-out 0s;
    // }

    // .login-Form{
    //   margin-top: 260px;
    //   position: absolute !important;

    // }

    // // .splash-info {

    // //     display: flex;
    // //     position: absolute !important;
    // //     z-index: 2;
    // //     color: white;
    // //     // margin-top: -650px;
    // //     position: relative;
    // //     text-align: center;
    // //     font-family: 'Roboto', sans-serif;

    // //   }

    //   .splash-intro {
    //     // display: flex;
    //     position: absolute !important;
    //     font-size: 41px;
    //     text-align: center;
    //     font-weight: normal;
    //     color: black;
    //     z-index: 2;
    //     max-width: 80%;
    //     margin: auto;
    //     font-family: 'Roboto', sans-serif;

    //   }

    //   img {
    //     // margin: 48px 0px 50px 130px;
    //     position: absolute !important;
    //     top: 110%;
    //     left: 50%;
    //     /* bring your own prefixes */
    //     transform: translate(-50%, -50%);
    //     max-width: 20%;
    //     z-index: 2;
    //     border: 0;
    // }
    //   icon-content {
    //     .login-icon{
    //     box-align: center;
    //     }
    //   }

    //   input, textarea {
    //     background-color :black;
    //   }


    //   button.login {
    //     margin-top: 25px;
    //     background-color: #28A745;
    //     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    //     color: #333;

    //     &.activated {
    //       background-color: black;
    //     }
    //   }

    //   &.activated {
    //     background-color: black;
    //   }

    //   .passwordIcon{
    //     // height: 20px;
    //     // width: 20px;
    //     zoom:0.8;
    //     padding-top: 35px;
    //     z-index:1;
    //     color: #28A745 !important;
    //  }

    //   .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    //     box-shadow: none !important;
    //     -webkit-box-shadow: none !important;
    //     border-bottom-color: #28A745 !important;
    //     border-bottom-width: 1px !important;

    //    }

    //   .item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.item-input-has-focus .item-inner {
    //     box-shadow: none !important;
    //     -webkit-box-shadow: none !important;
    //     border-bottom-color: #28A745 !important;
    //     border-bottom-width: 2px !important;
    //    }
    }
