page-tabs {
    .tabs-md .tabbar {
        background: #28A745;
        position: fixed;
    }

    .tabs-md .tab-button[aria-selected=true] {
        color: white;
        padding: 0;
    }
    ion-icon {
        &[class*="custom-"] {
            margin: 0 5px 0 0;
            vertical-align: middle;
            $sz: 20px;
            width: $sz;
            height: $sz;
        } // custom icons
        &[class*="received"] {
            background: url(../../assets/icon/download.png) no-repeat 50% 50%;
            background-size: contain;
        }
        &[class*="sent"] {
            background: url(../../assets/icon/upload.png) no-repeat 50% 50%;
            background-size: contain;
        }
        &[class*="transfer"] {
            background: url(../../assets/icon/transfer.png) no-repeat 50% 50%;
            background-size: contain;
        }
    

}
}