page-tabs {
    .tabs-md .tabbar {
        background: white;
        position: fixed;
    }

.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text{
  margin-right : 4px;
}

.tabs-md .tab-button[aria-selected=true] {
    color: #28A745 !important;
    padding: 0;


    ion-icon {
        &[class*="custom-"] {
            margin: 0 5px 0 0;
            vertical-align: middle;
            $sz: 24px;
            width: $sz;
            height: $sz;
        } // custom icons
        &[class*="received"] {
            background: url(../../assets/icon/receivedActive.svg) no-repeat 50% 50%;
            background-size: contain;
        }
        &[class*="sent"] {
            background: url(../../assets/icon/sentActive.svg) no-repeat 50% 50%;
            background-size: contain;
        }
        &[class*="transfer"] {
          background: url(../../assets/icon/transferActive.svg) no-repeat 50% 50%;
          background-size: contain;

      }

    }
}

.tabs-md .tab-button-text {
    font-size: 1.2rem;
}

.tabs-md .tab-button[aria-selected=false] {
    color: #28A745 !important;
    padding: 0;

    ion-icon {
        &[class*="custom-"] {
            margin: 0 5px 0 0;
            vertical-align: middle;
            $sz: 24px;
            width: $sz;
            height: $sz;
        } // custom icons
        &[class*="received"] {
            background: url(../../assets/icon/receivedDisabled.svg) no-repeat 50% 50%;
            background-size: contain;
        }
        &[class*="sent"] {
            background: url(../../assets/icon/sentDisabled.svg) no-repeat 50% 50%;
            background-size: contain;
        }
        &[class*="transfer"] {
            background: url(../../assets/icon/transferDisabled.svg) no-repeat 50% 50%;
            background-size: contain;
        }

    }
}

}
