ion-card-header {
   padding: 5px;

   ion-card-title {
      text-align: center;
      font-size: 14px;
      color: #ffffff;
   }
   ion-card-subtitle {
      text-align: center;
      font-size: 10px;
      color: #ffffff;
      margin: 0px;
   }
}
