<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'TRANSFER_ITEM' | translate}}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <div *ngIf="itemSearching" class="pinned-alert">
    <ion-spinner></ion-spinner> {{'GET_ID_DATA' | translate}}
  </div>
  <ion-grid class="padding-content">
    <ion-row class="content-start">
      <h4 class="primary-font">{{'FILL_FIELDS' | translate}}</h4>
    </ion-row>
    <ion-row>
      <ion-row padding-vertical>
        <ion-item>
          <ion-label>{{'RECEIVER' | translate}}</ion-label>
          <ionic-selectable item-content placeholder="Select" [(ngModel)]="selectedReceiver" itemValueField="publicKey"
            itemTextField="name" [items]="bcAccounts" [canSearch]="true" (onChange)="onSelectReceiver($event)">
            <ng-template padding-vertical ionicSelectableItemTemplate let-acc="item" let-isAccSelected="isItemSelected">
              {{acc['name']}}<br/>{{acc['publicKey']}}
            </ng-template>
          </ionic-selectable>
          <!-- <select-searchable [(ngModel)]="COCForm.receiver" [ngModelOptions]="{standalone: true}"
            (ionInput)="setFilteredItems()" title=" Receiver" canSearch="true" [items]="receivers"
            itemTextField="itemName" emptyMessage="No data">
          </select-searchable> -->
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-col text-wrap col-12>
          {{selectedReceiver.publicKey}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label floating>{{'ITEM' | translate}}</ion-label>
          <ion-select [(ngModel)]="selectedItem">
            <ion-option *ngFor="let item of currentItems">{{item.asset_code}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label floating>{{'IDENTIFIER' | translate}}</ion-label>
          <ion-input text-wrap no-boarder [(ngModel)]="COCForm.identifier" (ionBlur)="identifierLostFocus()"
            type="text"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label floating>{{'QUANTITY' | translate}}</ion-label>
          <ion-input text-wrap no-border [(ngModel)]="COCForm.qty" type="number"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row>
        <ion-item>
          <ion-label floating>{{ 'VALID_TILL' | translate}}</ion-label>
          <ion-datetime pickerFormat="YYYY-MM-DD hh mm A" [(ngModel)]="COCForm.vaidity"
            displayFormat="YYYY/MM/DD hh:mm A" max="2050"></ion-datetime>
        </ion-item>
      </ion-row>
      <ion-row class="content-start">
        <div class="button-wrapper">
          <button class="btn-green" (click)="transferAsset()">{{ 'TRANSFER' | translate}}</button>
        </div>
      </ion-row>
    </ion-row>
  </ion-grid>
</ion-content>