page-account-register {
    .logo-container {
        width: 100%;
        padding: 12px 0;
        .btn-link {
            margin: 12px 0 0;
        }
    }
    .logo-avatar {
        object-fit: cover;
        height: 120px;
        width: 120px;
        border-radius: 100%;
        margin: auto;
        display: block;
    }
    .error-text {
        color: #f44336;
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
}
