page-add-account {
    @media all and (orientation:portrait) {
        
        ion-row {
          align-items: center;
        }
        .formbox {
          padding-top: 5% !important;
          padding-bottom: 10% !important;
          max-width: 90%;
          align-self: center;
          padding-left: 8%;
        }
        
        .login-button {
            width: 55%;
            margin: auto;
            font-size: 0.9em;
            // max-width: 20%;
          // background-color: #00c853 !important;
          // padding: 0 10%;
        }
        .note{
          padding-top: 5%;
          width: auto;
          margin: auto;
          font-size: 0.9em;
        }
        .desc {
            color: dimgrey;
            font-size: 1.5rem;
            padding-top: 5%;
            padding-left: 5%;
        }

        ion-list {
          margin: 0;
        }
        .view {
          background-size: cover;
          background-repeat: no-repeat;
        }
        .hide-icon {
          color: #00c853 !important; 
        }
        .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
          color: #00c853 !important;
        }
        .item-md.item-input .item-inner {
          border-bottom-color:#00c853 !important;
        }
        .item.md {
          padding: 0 0 0 0 !important;
        }
        .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
          color: #00c853 !important;
        }
        ion-item.item-md.item-input.input-has-focus .item-inner,
        ion-item.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
        ion-item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: #00c853 !important;
        box-shadow: none;
        }    
        .passwordIcon{
          zoom:0.8; 
          padding-top: 35px;
          z-index:1
       }
    }
}