<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{'RESET_PASSWORD' | translate}}</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <form [formGroup]="verifyForm" *ngIf="!resetPass">
      <ion-item lines="none">
         <ion-label class="ion-text-wrap ion-text-center">{{'RESET_PASSWORD_MSG' | translate}}</ion-label>
      </ion-item>

      <ion-item class="line-spacing">
         <ion-label position="floating">{{'EMAIL_USERNAME' | translate}}</ion-label>
         <ion-input type="email" formControlName="email" placeholder="Enter your username or email address"></ion-input>
      </ion-item>

      <ion-row class="submitBtn ion-padding-top">
         <ion-button color="primary" [disabled]="!verifyForm.value.email" (click)="verifyEmail()">Send</ion-button>
      </ion-row>
   </form>
   <form [formGroup]="resetForm" *ngIf="resetPass">
      <ion-item lines="none">
         <ion-label class="ion-text-wrap ion-text-center">{{ 'RESET_CODE_MSG' | translate}}</ion-label>
      </ion-item>
      <ion-item class="line-spacing">
         <ion-label position="floating">{{ 'RESET_CODE' | translate}}</ion-label>
         <ion-input formControlName="code"></ion-input>
      </ion-item>
      <ion-item>
         <ion-label position="floating">{{'NEW_PASSWORD' | translate}}</ion-label>
         <ion-input formControlName="nPassword" [type]="passwordTypeN" clearOnEdit="false" [class.invalid]="!resetForm.controls.nPassword.valid &&  submitAttempt"></ion-input>
         <ion-icon slot="end" color="primary" [name]="passwordIconN" class="passwordIcon" (click)="hideShowPassword(1)"></ion-icon>
      </ion-item>
      <ion-item>
         <ion-label position="floating">{{'CONFIRM_PASSWORD' | translate}}</ion-label>
         <ion-input formControlName="cPassword" [type]="passwordTypeC" clearOnEdit="false" [class.invalid]="!resetForm.controls.cPassword.valid &&  submitAttempt"></ion-input>
         <ion-icon slot="end" [name]="passwordIconC" color="primary" class="passwordIcon" (click)="hideShowPassword(2)"></ion-icon>
      </ion-item>

      <ion-row class="submitBtn ion-padding-top">
         <ion-button
            [disabled]="!resetForm.value.code || !resetForm.value.nPassword || !resetForm.controls.nPassword.valid || !resetForm.value.cPassword || !resetForm.controls.cPassword.valid"
            (click)="reset()">
            {{ 'RESET_PASSWORD' | translate }}
         </ion-button>
      </ion-row>
   </form>
</ion-content>
