.svg {
   overflow-y: auto;
   overflow-x: auto;
}

ion-row {
   display: flex;
   justify-content: center;
}

.claim-nft-preview {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

   .heading-text {
      color: black;
      font-weight: 500;
      font-size: 20px;
   }
}
.img {
   width: 100%;
   height: 100%;
   overflow-y: scroll;
   overflow-x: scroll;
   border: none;
}
