.svg {
   overflow-y: auto;
   overflow-x: auto;
}

ion-row {
   display: flex;
   justify-content: center;
}

.claim-nft-preview {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

   .heading-text {
      color: black;
      font-weight: 500;
      font-size: 20px;
   }
}
.img {
   width: 100%;
   height: 100%;
   overflow-y: scroll;
   overflow-x: scroll;
}

// @media (max-width: 930px) {
//    .claim-nft-preview {
//       .back-icon {
//          position: unset;
//          align-self: flex-start;
//          margin-left: 20px;
//          width: 28px;
//          height: 16px;
//       }
//    }
// }

// @media (max-width: 768px) {
//    .claim-nft-preview {
//       .preview-inner {
//          .heading-text {
//             align-self: center;
//          }

//       }
//    }

//    .claim-nft-form {
//       padding: 0px;
//       align-items: center;

//       .form-wrapper {
//          align-items: center;

//          .input-group {
//             width: 90%;
//             .tooltip {
//                position: absolute;
//                top: 10px;
//                right: 0px;
//                .tooltip-inner {
//                   .info-icon {
//                      cursor: pointer;
//                      color: black;
//                      font-size: 19px;
//                   }

//                   .tooltip-msg {
//                      right: -5px;
//                   }
//                }
//             }
//          }

//          .checkbox-group {
//             width: 90%;
//          }
//       }
//    }

//    .claim-nft-preview {
//       padding: 0px;
//       border: none;
//       align-items: center;
//    }
