<ion-content [fullscreen]="true" class="ion-padding main-wrapper">
   <ion-grid class="cusGrid bottom-padding">
      <ion-row class="backBtnWrapper">
         <ion-icon name="arrow-back-outline" (click)="goBack()"></ion-icon>
      </ion-row>
      <ion-row class="logo">
         <ion-img src="assets/imgs/tracified-wallet-d.svg"></ion-img>
      </ion-row>

      <!--Create blockchain account -->
      <div>
         <ion-row style="display: flex; justify-content: center">
            <ion-label class="title-label"
               ><h1>{{"CREATE_BC_ACC" | translate}}</h1>
               <p>{{"CREATE_BC_ACC_DESC" | translate}}</p>
            </ion-label>
         </ion-row>
         <form [formGroup]="form" autofill="off" autocomplete="off webauthn">
            <ion-row>
               <ion-label style="margin-top: 36px" class="input-label">{{'ACC_NAME' | translate}}</ion-label>
            </ion-row>
            <ion-row>
               <ion-item class="input-item" lines="full">
                  <ion-input #accName formControlName="accName" type="text" name="accName" autocomplete="off webauthn" keyNext></ion-input>
               </ion-item>
            </ion-row>

            <ion-row>
               <ion-label style="margin-top: 32px" class="input-label">{{'CREATE_PASSWORD' | translate}}</ion-label>
            </ion-row>
            <ion-row>
               <ion-item class="input-item" lines="full">
                  <ion-input formControlName="password" name="password" [type]="passwordType" clearInput="false" autocomplete="off webauthn"></ion-input>
                  <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon gray-color" (click)="hideShowPassword(1)"> </ion-icon>
               </ion-item>
            </ion-row>
            <!-- <ion-row style="display: flex; justify-content: center; margin: 10px 0px 10px 0px">
               <ion-button color="white" class="customBtn customWhiteBtn">{{'GENERATE_PASSWORD_BUTTON' | translate}}</ion-button>
            </ion-row> -->

            <ion-row>
               <ion-label style="margin-top: 32px" class="input-label">{{'CONFIRM_PASSWORD' | translate}}</ion-label>
            </ion-row>
            <ion-row>
               <ion-item class="input-item" lines="full">
                  <ion-input formControlName="confirmPassword" name="confirmPassword" [type]="confirmPasswordType" clearInput="false" autocomplete="off webauthn"></ion-input>
                  <ion-icon slot="end" [name]="confirmPasswordIcon" class="passwordIcon gray-color" (click)="hideShowPassword(2)"> </ion-icon>
               </ion-item>
            </ion-row>

            <ion-row style="display: flex; justify-content: center; margin: 10% 0px 10px 0px">
               <ion-button color="primary" [disabled]="!form.valid" (click)="addMainAccount()">{{'CREATE_BC_ACC_BUTTON' | translate}}</ion-button>
            </ion-row>
         </form>
      </div>
   </ion-grid>
   <!-- <app-help-popup [data]="data"></app-help-popup> -->
</ion-content>

<!-- <ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title style="display: contents"> {{'ADD_BK_ACC' | translate}}</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <ion-grid>
      <form [formGroup]="form">
         <ion-row>
            <ion-col>
               <ion-item>
                  <ion-label position="floating" class="login-lables">{{'ACCOUNT_NAME' | translate}}</ion-label>
                  <ion-input formControlName="accName" type="text" name="accName" keyNext></ion-input>
               </ion-item>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col>
               <ion-item>
                  <ion-label position="floating">{{'SECURED_PASSWORD'| translate}}</ion-label>
                  <ion-input formControlName="password" [(ngModel)]="StrengthPassword" (ionChange)="checkStrength()" name="password" [type]="passwordType" clearOnEdit="false"></ion-input>
                  <ion-icon slot="end" [name]="passwordIcon" color="primary" class="passwordIcon" (click)="hideShowPassword(1)"> </ion-icon>
               </ion-item>
               <ion-text color="danger" *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)">
                  <ul>
                     <li *ngIf="form.controls.password.errors.required"><span>Password is required.</span></li>
                     <li *ngIf="form.controls.password.errors.minlength"><span> Password should be at least 6 characters long.</span></li>
                     <li *ngIf="form.controls.password.errors.pattern"><span> Password should contain at least one uppercase & lowercase letter, one number, special character.</span></li>
                  </ul>
               </ion-text>
            </ion-col>
         </ion-row>
         <ion-row>
            <ion-col>
               <ion-item>
                  <ion-label position="floating">{{'CONFIRM_PASSWORD' | translate}}</ion-label>
                  <ion-input formControlName="confirmPassword" name="confirmPassword" [type]="confirmPasswordType" clearOnEdit="false"></ion-input>
                  <ion-icon slot="end" [name]="confirmPasswordIcon" color="primary" class="confirmPasswordIcon" (click)="hideShowPassword(2)"> </ion-icon>
               </ion-item>
               
            </ion-col>
         </ion-row>
         <ion-row class="ion-padding-top">
            <ion-col>
               <div class="button-wrapper">
                  <ion-button [disabled]="!form.valid" (click)="addMainAccount()" color="primary">{{ 'GENERATE_BK' | translate}}</ion-button>
               </div>
            </ion-col>
         </ion-row>
      </form>
   </ion-grid>
</ion-content>
 -->
