<!--
  Generated template for the MintNftPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Claim your NFT</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="claim-nft-preview" col-12 col-sm-12 col-md-6 col-lg-6>
        <img class="back-icon" src="../../assets/icon/back.png" />
        <div class="preview-inner">
          <label class="heading-text">Preview</label>
          <!-- <img class="svg" [src]="imageSrc" *ngIf="imageSrc"/> -->
          <img src="{{this.imageSrc}}" class="svg" />
        </div>
      </ion-col>
      <ion-col class="claim-nft-form" col-12 col-sm-12 col-md-6 col-lg-6>
        <div class="form-wrapper">
          <label>Product: <span>Gem Item</span> </label>
          <div class="input-group">
            <label class="title">NFT Name</label>
            <ion-input
              class="input"
              type="text"
              text-left
              id="input"
              maxlength="12"
              [(ngModel)]="nftName"
              (click)="closeTooltip()"
              autofocus="true"
              placeholder="Enter a name for your NFT"
            ></ion-input>
            <label class="counter"
              >{{getRemainingCharacters('nftName')}} characters remaining</label
            >
          </div>
          <div class="input-group">
            <label class="title">Recipient’s Name</label>
            <ion-input
              class="input"
              type="text"
              text-left
              maxlength="15"
              id="input"
              placeholder="Enter name of the recipient"
              [(ngModel)]="recipientsName"
              (click)="closeTooltip()"
            ></ion-input>
            <label class="counter"
              >{{getRemainingCharacters('recipientsName')}} characters
              remaining</label
            >
          </div>
          <div class="input-group">
            <div class="tooltip">
              <div class="tooltip-inner">
                <ion-icon
                  class="info-icon"
                  name="information-circle"
                  (click)="toggleTooltip()"
                ></ion-icon>
                <span *ngIf="isTooltipOpen"></span>
                <div class="tooltip-msg" *ngIf="isTooltipOpen">
                  A message you want to display to your receipient that will be
                  added as part of the NFT.
                </div>
              </div>
            </div>
            <label class="title">Message</label>
            <ion-textarea
              class="input textarea"
              text-left
              rows="10"
              cols="5"
              autoGrow="true"
              maxlength="50"
              id="input"
              placeholder="Enter a message for the recipient"
              [(ngModel)]="message"
              (click)="closeTooltip()"
            ></ion-textarea>
            <label class="counter"
              >{{getRemainingCharacters('message')}} characters remaining</label
            >
          </div>
          <label class="msg"
            >Please note that these information cannot be modified once the NFT
            is claimed.</label
          >
          <div class="checkbox-group">
            <ion-checkbox class="checkbox" slot="start"></ion-checkbox>
            <ion-label class="checkbox-lbl">I agree</ion-label>
          </div>
          <button class="btn-green" (click)="createNFT()">
            Claim Your NFT
          </button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-card text-wrap style="border-radius: 15px;" padding> -->

  <!-- <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100%; width: 100%;"/> -->
  <!--  <img src="../../assets/imgs/Madagascan-Iolite.jpg" class="svg">
     
  
    <ion-row  class="full-width line-spacing">
      <ion-item>
        <ion-label class="login-lables" floating>{{'NFT Name'}}</ion-label>
        <ion-input color="secondary" type="text" text-left id="input" [(ngModel)]="nftName" autofocus="true"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row  class="full-width line-spacing">
      <button class="btn-green" (click)="createNFTWithNewAccount()">
        Create New Account and Claim NFT
      </button>
  </ion-row>
  <ion-row  class="full-width line-spacing">
    <button class="btn-green" (click)="loadSVG()">
      Open NFT Content
    </button>
</ion-row>
  </ion-card> -->
</ion-content>
