<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Blockchain Accounts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content id="refresher" pullingIcon="refresh" pullingText="" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!userAcc" id="noitemDiv">
    <img id="notification-icon" src="../../assets/imgs/notifications-bell-button.png">
    <h2 id="noItem"> ACCOUNTS </h2>
    <ion-note id="noItem-note">No Accounts available for this period</ion-note>
  </div>

  <ion-card text-wrap *ngFor="let account of userAcc" (click)="viewAccount(account)">
    <ion-item>
      <ion-row>
        <ion-col col-4 left text-left>
          <h5 class="label">Name: </h5>
        </ion-col>
        <ion-col col-8 left text-left>
          <h5>{{ account.accountName}}</h5>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-4 left text-left>
          <h5 class="label">Public Key: </h5>
        </ion-col>
        <ion-col col-8 left text-left>
          <h5>{{ account.pk}}</h5>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>

  <ion-fab right bottom>
    <button color="secondary" ion-fab (click)="goToAddAccount()">
      <ion-icon name="add"></ion-icon>
    </button>

  </ion-fab>
</ion-content>