<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Blockchain {{'ACCOUNTS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content id="refresher" pullingIcon="refresh" pullingText="" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!userAcc" id="noitemDiv">
    <ion-row>
      <img class="notification-icon" src="../../assets/imgs/emptystatus-04.png" />
    </ion-row>
    <ion-row>
      <div class="full-width text-center line-spacing-small">
        <h1 class="primary-font">{{'ACCOUNTS' | translate}}</h1>
      </div>
    </ion-row>
    <ion-row text-wrap>
      <div class="full-width text-center">
        <h3 class="secondary-font">{{'NO_ACCOUNTS' | translate}}</h3>
      </div>
    </ion-row>
  </div>

  <ion-card text-wrap *ngFor="let account of userAcc" (click)="viewAccount(account)">
    <ion-item>
      <ion-row>
        <ion-col col-4 left text-left>
          <h5 class="label">{{ 'NAME' | translate}}:</h5>
        </ion-col>
        <ion-col col-8 left text-left>
          <h5>{{ account.accountName}}</h5>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-4 left text-left>
          <h5 class="label">{{ 'PUBLIC_KEY' | translate}}:</h5>
        </ion-col>
        <ion-col col-8 left text-left>
          <h5>{{ account.pk}}</h5>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>

  <ion-fab right bottom>
    <button color="secondary" ion-fab (click)="goToAddAccount()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab left bottom>
    <button color="secondary" ion-fab (click)="goToAddTestimonial()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
