
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Blockchain Accounts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <div *ngIf="Citems">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
  </div> -->

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content id="refresher" pullingIcon="refresh" pullingText="" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="userAcc.MainAccounts" id="noitemDiv">
      <img id="notification-icon" src="../../assets/imgs/notifications-bell-button.png">
      <h2 id="noItem"> ACCOUNTS </h2>
      <ion-note id="noItem-note">No Accounts available for this period</ion-note>
    </div>

  <ion-card *ngFor="let account of userAcc.MainAccounts">
    <ion-item>
      <ion-row>
        <ion-col col-3 left text-left>
          <h5 class="label">Name: </h5>
        </ion-col>
        <ion-col col-9 left text-left>
          <h5>{{ account.AccountName}}</h5>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-3 left text-left>
          <h5 class="label">Primary Key: </h5>
        </ion-col>
        <ion-col col-9 left text-left>
          <h5>{{ account.pk}}</h5>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-3 left text-left>
          <h5 class="label">Secret Key: </h5>
        </ion-col>
        <ion-col col-9 right text-left>
          <h5>{{ account.sk}}</h5>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col col-3 left text-left>
          <h5 class="label">Sub Acc: </h5>
        </ion-col>
        <ion-col col-9 right text-left *ngFor="let subAccount of account.subAccounts">
          <h5>{{subAccount}}</h5>
        </ion-col>
      </ion-row>
    </ion-item>


    <!-- <ion-card *ngFor="let subAccount of account.subAccounts">
      <ion-note>PK: {{subAccount}}</ion-note>

    </ion-card> -->
  </ion-card>

  <ion-fab right bottom>
    <button color="secondary" ion-fab (click)="goToAddAccount()">
      <ion-icon name="add"></ion-icon>
    </button>

  </ion-fab>
</ion-content>