page-get-keys {
    
    .h4{
        position: absolute;
        width: 730px;
        height: 58px;
        left: 330px;
        top: 50px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 19px;
        line-height: 29px;
        text-align: center;

        color: #000000;

    }

    .labelPK{
        position: absolute;
        width: 121px;
        height: 29px;
        left: 357px;
        top: 120px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        /* identical to box height */


        color: #000000;

    }

    .labelSK{
        position: absolute;
        width: 121px;
        height: 29px;
        left: 357px;
        top: 200px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 29px;
        /* identical to box height */


        color: #000000;

    }

    .container1PK{
        position: absolute;
        width: 698px;
        height: 45px;
        left: 353px;
        top: 170px;

        background: #DEDEDE;
        border-radius: 16px;
    }

    .container1SK{
        position: absolute;
        width: 698px;
        height: 45px;
        left: 353px;
        top: 250px;

        background: #DEDEDE;
        border-radius: 16px;
    }

    .PK{
        position: absolute;
        width: 653px;
        height: 29px;
        left: 375px;
        top: 280px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 29px;
        /* identical to box height */

        color: #000000;

    }

    .SK{
        position: absolute;
        width: 653px;
        height: 29px;
        left: 381px;
        top: 355px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */


        color: #000000;

    }

    .container2{
        position: absolute;
        width: 694px;
        height: 94px;
        left: 357px;
        top: 320px;

        background: #914D4D;
        border-radius: 10px;
    }

    .container2.h3{
        position: absolute;
        width: 147px;
        height: 29px;
        left: 800px;
        top: 635px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */

        text-align: center;

        
    }

    .imp1{
        color: #FF7373;
        left:500px;
    }

    .container2.h4{
        position: absolute;
        width: 614px;
        height: 33px;
        left: 397px;
        top: 665px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        /* identical to box height */

        text-align: center;

        color: #FFFFFF;

    }

    .btn-green{
        position: absolute;
        width: 153px;
        height: 43px;
        left: 628px;
        top: 440px;

        background: #28A745;
        border-radius: 20px;
    }

    .btn-green.b{
        position: absolute;
        width: 167px;
        height: 29px;
        left: 621px;
        top: 788px;

        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height */

        text-align: center;

        color: #FFFFFF;
    }

}
