page-market-place-nft {
    .item-content {
        background-color:#b61515;
        color: rgb(253, 253, 253);
        font-weight: 700;
        width: 120px;
        height: 20px;
        border-radius: 20px;
        font-size: large;
      }
}
