page-market-place-nft {
    .item-content {
      text-align: center;
        background-color:#c90c0c;
        color: rgb(255, 255, 255);
        width: 100px;
        height: 20px;
        border-radius: 20px;
      }
    .onsale{
      color: rgb(255, 255, 255);
      font-size: small;
      font-weight: 700;
      }
    .primary-font {
        color: #4f525d;
      }
      
    .secondary-font {
        color: #b1b1b1;
      }
}
