testimonial {
    .card-title {
        color: #1f2121;
        padding: 0;
        margin: 0 !important;
    }

    .card-image {
        width: 25%;
        height: 60px;
        object-fit: cover;
    }
}
