page-scanner-view {
  .transparentBody {
		background: none transparent !important;
		background-color: none;
  }

  img {
    opacity: 0.5;
    max-width: 95%;
    max-height: calc(98% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
