page-settings {
    ion-avatar {
      width: 35% !important;
      height : 35% !important;
    }

    a {
      color: rgb(11, 199, 11);
      background-color: transparent;
      text-decoration: none;
    }
}
