// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;
$secondary: #48BC4D;

// Card
$card-ios-border-radius: 8px;	
$card-md-border-radius:	8px;
$card-wp-border-radius: 8px;
$card-ios-box-shadow: 0 10px 20px -2px rgba(0, 0, 0, 0.2);
$card-md-box-shadow: 0 10px 20px -2px rgba(0, 0, 0, 0.2);	
$card-wp-box-shadow: 0 10px 20px -2px rgba(0, 0, 0, 0.2);

// Button
$button-ios-border-radius: 8px;	
$button-ios-outline-border-radius: 8px;
$button-md-border-radius: 8px;	
$button-wp-border-radius: 8px;

// Badge
$badge-ios-border-radius:	8px;	
$badge-md-border-radius: 8px;	
$badge-wp-border-radius: 8px;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #28a745,
  secondary:  #48BC4D,
  danger:     #f53d3d,
  warning:     #ffde24,
  light:      #f4f4f4,
  dark:       #222
);

.btn-link {
  text-align: center;
  color: #28a745;
  font-size: 16px;
}
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
