ion-img {
   width: 75%;
   height: auto;
   margin: 0 auto;
}

.logo {
   padding-top: 20% !important;
}

.link {
   padding-top: 5%;
   width: auto;
   margin: auto;
   font-size: 0.9em;
   cursor: pointer;
}
.link:hover {
   color: #00c853;
}

.passwordIcon {
   zoom: 0.8;
   padding-top: 35px;
   z-index: 1;
}
