.fund-amount {
   font-size: 4rem;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}

.info-icon {
   color: #28a745;
   font-size: 10rem;
}
