<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <h3 class="ion-text-center">{{ 'TRANSFER_CONFIRM' | translate }}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon name="information-circle" class="info-icon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 class="ion-text-center fund-amount">{{ transferAmount }} lumens</h2>
      </ion-col>
    </ion-row>
    <ion-row class="content-start">
      <ion-col>
        <h2 class="ion-text-center">{{ 'FROM' | translate}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 class="ion-text-center">{{ senderPK }}</h2>
      </ion-col>
    </ion-row>
    <ion-row class="content-start">
      <ion-col>
        <h2 class="ion-text-center">{{ 'TO' | translate}}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2 class="ion-text-center">{{ receiverPK }}</h2>
      </ion-col>
    </ion-row>
    <ion-row class="btn-end">
      <ion-col class="ion-text-end">
        <ion-button class="ion-margin" (click)="cancel()">{{ 'CANCEL' | translate}}</ion-button>
        <ion-button class="ion-margin" (click)="confirm()">{{ 'CONFIRM' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
