<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <!-- <ion-tabs>
    <ion-tab label="Home" icon="home" href="./app/pages/(home:home)">
      <ion-router-outlet stack name="home"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="Transactions" icon="cloud-download" href="/app/pages/(receive:receive)">
      <ion-router-outlet stack name="receive"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="Items" icon="cloud-upload" href="/app/pages/(Items:Items)">
      <ion-router-outlet stack name="Items"></ion-router-outlet>
    </ion-tab>
    <ion-tab label="About" icon="information-circle" href="/app/pages/(about:about)">
      <ion-router-outlet stack name="about"></ion-router-outlet>
    </ion-tab>
  </ion-tabs> -->

  <!-- <ion-tabs>
    <ion-tab label="schedule" icon="calendar" name="tab-schedule">
      <ion-nav></ion-nav>
    </ion-tab>
    <ion-tab label="speakers" icon="contacts" name="tab-speaker">
      <ion-nav></ion-nav>
    </ion-tab>
    <ion-tab label="map" icon="map" component="page-map"></ion-tab>
    <ion-tab label="about" icon="information-circle" component="HomePage"></ion-tab>
  </ion-tabs> -->

</ion-app>
