page-reset-password {
    .reset-button {
        width: 75%;
        margin: auto;
        padding-top: 5%;
      }
      
      .passwordBox {
        padding-top: 0% !important;
        padding-bottom: 15% !important;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        padding-right: 5%;   
      }

      .passwordIcon{
        zoom:0.8; 
        padding-top: 35px;
        z-index:1
     }
}
