<ion-header>
  <ion-navbar color="TracifiedBlack">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span class="topText">Reset Password</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="this.type">
    <div *ngSwitchCase="'initial'">
      <form [formGroup]="forgotform">
        <ion-row class="passwordBox">
          <ion-item>
            <ion-label floating> Username </ion-label>
            <ion-input type="email" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating> New Password </ion-label>
            <ion-input formControlName="password" [type]="passwordType" clearOnEdit="false" [class.invalid]="!forgotform.controls.password.valid && (forgotform.controls.password.dirty || submitAttempt)"></ion-input>
            <ion-icon item-end [name]="passwordIcon" color="secondary" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
          </ion-item>
        </ion-row>
        <ion-row class="reset content-start">
          <button class="btn-green" [disabled]="!forgotform.value.password || !forgotform.controls.password.valid"
            ion-button (click)="resetPassword()" full>Reset Password Button</button>
        </ion-row>
      </form>
    </div>
    <div *ngSwitchCase="'forgotPassword'">
      <form [formGroup]="verifyForm" *ngIf="!resetPass">
        <ion-row class="passwordBox">
          <ion-item no-lines>
            <h2>Reset Password</h2>
          </ion-item>
          <h4 class = "primary-font">An e-mail will be sent to this address with the steps to reset your password.</h4>
          <ion-item class="line-spacing">
            <ion-label floating>Email/Username</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row class="reset-button">
          <button  class="btn-green" ion-button [disabled]="!verifyForm.value.email" ion-button (click)="verifyEmail()" full>Send</button>
        </ion-row>
      </form>
      <form [formGroup]="resetForm" *ngIf="resetPass">
        <ion-row class="resetbox content-start">
            <h4 class="line-spacing" class = "primary-font">Please enter the reset code we sent to your email address.</h4>
          <ion-item class="line-spacing">
            <ion-label floating>Reset Code</ion-label>
            <ion-input formControlName="code"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>New Password</ion-label>
            <ion-input formControlName="nPassword" [type]="passwordTypeN" clearOnEdit="false" [class.invalid]="!resetForm.controls.nPassword.valid &&  submitAttempt"></ion-input>
            <ion-icon item-end [name]="passwordIconN" color="secondary" class="passwordIcon" (click)='hideShowPassword(1)'></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input formControlName="cPassword" [type]="passwordTypeC" clearOnEdit="false" [class.invalid]="!resetForm.controls.cPassword.valid &&  submitAttempt"></ion-input>
            <ion-icon item-end [name]="passwordIconC" color="secondary" class="passwordIcon" (click)='hideShowPassword(2)'></ion-icon>
          </ion-item>
          <!-- <ion-item no-lines *ngIf="!resetForm.controls.password.valid  && (resetForm.controls.password.dirty || submitAttempt)">
            <p style="color: #ea6153;">Password should be more than 5 characters</p>
          </ion-item> -->
        </ion-row>
        <ion-row class="reset-button content-start">
          <button class="btn-green" ion-button [disabled]="!resetForm.value.code || !resetForm.value.nPassword || !resetForm.controls.nPassword.valid || !resetForm.value.cPassword || !resetForm.controls.cPassword.valid"
            ion-button (click)="reset()" full>Reset Password</button>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>
