<ion-header>
  <ion-navbar color="TracifiedBlack">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span class="topText">Reset Password</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="this.type">
    <div *ngSwitchCase="'initial'">
      <form [formGroup]="forgotform">
        <ion-row class="passwordBox">
          <ion-item>
            <ion-label floating> username </ion-label>
            <ion-input type="email" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating> newPassword </ion-label>
            <ion-input formControlName="password" [type]="passwordType" clearOnEdit="false" [class.invalid]="!forgotform.controls.password.valid && (forgotform.controls.password.dirty || submitAttempt)"></ion-input>
            <ion-icon item-end [name]="passwordIcon" color="secondary" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
          </ion-item>
          <ion-item no-lines text-wrap>
            <ion-note text-wrap style="font-size: 0.8em;"> passwordHelperText </ion-note>
          </ion-item>
        </ion-row>
        <ion-row>
          <button class="reset-button" ion-button [disabled]="!forgotform.value.password || !forgotform.controls.password.valid"
            ion-button (click)="resetPassword()" full>resetPasswordButton</button>
        </ion-row>
      </form>
    </div>
    <div *ngSwitchCase="'forgotPassword'">
      <form [formGroup]="verifyForm" *ngIf="!resetPass">
        <ion-row class="passwordBox">
          <ion-item no-lines>
            <ion-label text-wrap style="font-size: 0.8em;">resetcodeRequestDescription</ion-label>
          </ion-item>
          <ion-item>
            <ion-label floating>email/username</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
        </ion-row>
        <ion-row class="reset-button">
          <button ion-button [disabled]="!verifyForm.value.email" ion-button (click)="verifyEmail()" full>resetcodeRequestButton</button>
        </ion-row>
      </form>
      <form [formGroup]="resetForm" *ngIf="resetPass">
        <ion-row class="resetbox">
          <ion-item no-lines>
            <ion-label text-wrap style="font-size: 0.8em;">resetpageDescription<ion-note (click)="verifyEmail()">didntRecieve</ion-note>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label floating>resetCode</ion-label>
            <ion-input formControlName="code"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>newPassword</ion-label>
            <ion-input formControlName="password" [type]="passwordType" clearOnEdit="false" [class.invalid]="!resetForm.controls.password.valid && (resetForm.controls.password.dirty || submitAttempt)"></ion-input>
            <ion-icon item-end [name]="passwordIcon" color="secondary" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
          </ion-item>
          <ion-item no-lines text-wrap>
            <ion-note text-wrap style="font-size: 0.8em;">passwordHelperText</ion-note>
          </ion-item>
          <!-- <ion-item no-lines *ngIf="!resetForm.controls.password.valid  && (resetForm.controls.password.dirty || submitAttempt)">
            <p style="color: #ea6153;">Password should be more than 5 characters</p>
          </ion-item> -->
        </ion-row>
        <ion-row class="reset-button">
          <button ion-button [disabled]="!resetForm.value.code || !resetForm.value.password || !resetForm.controls.password.valid"
            ion-button (click)="reset()" full>resetPasswordButton</button>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>