page-reset-password {
  .reset-button {
    width: 50%;
    margin: auto;
  }

  .reset .reset-button {
    width: 60%;
  }

  .passwordBox {
    padding-top: 0% !important;
    padding-bottom: 15% !important;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    padding-right: 5%;
  }

  .passwordIcon{
    zoom:0.8;
    padding-top: 35px;
    z-index:1
 }

 .primary-font {
   font-size: 4 em;
 }

 .header-font {
  font-size: 2 rem;
 }

 .topText {
  padding-top: 50%;
 }

 .item-input-has-focus .label-md[floating],
 .input-has-focus .label-md[floating] {
    color: #28a745 !important;
  }

  ion-item.item-md.item-input.input-has-focus .item-inner,
  ion-item.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner,
  ion-item.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: #28a745 !important;
    box-shadow: none !important;
  }
}
