<ion-list class="accordion-list">
  <ion-list-header no-lines no-padding>
    <div
      [ngClass]="{ 'accepted': status === 'accepted', 'rejected':   status === 'rejected', 'pending':   status === 'pending' }">
      <ion-card>
        <button ion-item no-padding (click)="toggleAccordion()" class="accordion-header" [class.active]="expanded">

          <ion-row>
            <ion-col left text-left>
              <ion-icon id="timer-icon" name="custom-timer" item-start></ion-icon>
              <ion-note *ngIf='date.days'>{{date.days}}d</ion-note>
              <ion-note *ngIf='date.hours !="00" '>{{date.hours}}h</ion-note>
              <ion-note *ngIf='date.minutes'>{{date.minutes}}m ago</ion-note>
            </ion-col>
            <ion-col right text-right id="name">
              <ion-note id="truncate">{{uname}}</ion-note>
              <ion-icon id="userIcon" name="person"></ion-icon>
              <!-- <ion-icon name="contact"></ion-icon> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col left text-left>
              <h2>Item : {{oname}}</h2>
            </ion-col>
            <ion-col right text-right>
              <ion-row id="qty">
                <h1>{{qty}}</h1>
                <ion-icon id="toggleicon" item-right name="ios-arrow-down">
                </ion-icon>
              </ion-row>
            </ion-col>
          </ion-row>

        </button>
        <section #accordionContent [style.background]="contentColor" [class.active]="expanded"
          class="accordion-content">
          <ng-content></ng-content>
        </section>
      </ion-card>
    </div>

  </ion-list-header>
</ion-list>