<ion-content [fullscreen]="true" class="ion-padding main-wrapper">
   <ion-grid class="cusGrid">
      <ion-row class="backBtnWrapper">
         <ion-icon name="arrow-back-outline" *ngIf="false"></ion-icon>
      </ion-row>
      <ion-row class="logo">
         <ion-img src="assets/imgs/tracified-wallet-d.svg"></ion-img>
      </ion-row>

      <ion-row style="display: flex; justify-content: center">
         <ion-label class="title-label"
            ><h1>{{"CREATE_ACCOUNT" | translate}}</h1>
            <p>{{"CREATE_ACCOUNT_DESC" | translate}}</p>
         </ion-label>
      </ion-row>
      <form [formGroup]="form">
         <ion-row>
            <ion-label style="margin-top: 36px" class="input-label">{{'FIRST_NAME' | translate}}</ion-label>
         </ion-row>
         <ion-row>
            <ion-item class="input-item" lines="full">
               <ion-input #firstName formControlName="firstname" type="text" name="firstName" keyNext></ion-input>
            </ion-item>
         </ion-row>
         <ion-row>
            <ion-label style="margin-top: 36px" class="input-label">{{'LAST_NAME' | translate}}</ion-label>
         </ion-row>
         <ion-row>
            <ion-item class="input-item" lines="full">
               <ion-input #lastName formControlName="lastname" type="text" name="lastName" keyNext></ion-input>
            </ion-item>
         </ion-row>
         <ion-row>
            <ion-label style="margin-top: 36px" class="input-label">{{'EMAIL_ADDRESS' | translate}}</ion-label>
         </ion-row>
         <ion-row>
            <ion-item class="input-item" lines="full">
               <ion-input #userName formControlName="username" type="email" name="userName" keyNext></ion-input>
            </ion-item>
         </ion-row>

         <ion-row>
            <ion-label style="margin-top: 36px" class="input-label">{{'COUNTRY' | translate}}</ion-label>
         </ion-row>
         <ion-row>
            <ion-item class="input-item" lines="full">
               <ion-select style="width: 100%" label="Default label" placeholder="{{'SELECT_COUNTRY' | translate}}" (ionChange)="selectCountry($event)" appNoArrow>
                  <ion-select-option *ngFor="let country of countries | keyvalue" [value]="country.value">{{country.key}}</ion-select-option>
               </ion-select>
               <ion-icon slot="end" name="caret-forward-outline" class="caret"></ion-icon>
            </ion-item>
         </ion-row>

         <ion-row>
            <ion-label style="margin-top: 36px" class="input-label">{{'PHONE_NO' | translate}}</ion-label>
         </ion-row>
         <ion-row>
            <ion-item class="input-item" lines="full">
               <ion-input #phoneNo formControlName="phoneno" type="tel" name="phoneNo" placeholder="ex: +94 7X XXXXXXX" keyNext></ion-input>
            </ion-item>
         </ion-row>

         <ion-row style="display: flex; justify-content: center; margin: 10% 0px 10px 0px">
            <ion-button color="primary" (click)="checkMobile()">{{'PROCEED_BUTTON' | translate}}</ion-button>
         </ion-row>
         <ion-row class="ion-justify-content-center">
            <ion-label class="hint-label">{{"ALREADY_HAVE_AN_ACCOUNT" | translate}}</ion-label>
         </ion-row>
         <ion-row class="ion-justify-content-center">
            <ion-note color="primary" style="font-weight: 700; padding-top: 0px" class="link" routerLink="/login" replaceUrl>{{'SIGN_IN'| translate}} </ion-note>
         </ion-row>
      </form>
   </ion-grid>
</ion-content>
