<ion-content [fullscreen]="false" class="ion-padding main-wrapper">
   <ion-grid class="cusGrid">
      <ion-row class="backBtnWrapper">
         <ion-icon name="arrow-back-outline" *ngIf="false"></ion-icon>
      </ion-row>
      <ion-row class="logo">
         <ion-img src="assets/imgs/tracified-wallet-d.svg"></ion-img>
      </ion-row>

      <ion-row style="display: flex; justify-content: center">
         <ion-label class="title-label"
            ><h1>{{"CREATE_ACCOUNT" | translate}}</h1>
            <p>{{"CREATE_ACCOUNT_DESC" | translate}}</p>
         </ion-label>
      </ion-row>
      <form [formGroup]="form">
         <ion-row>
            <ion-label style="margin-top: 36px" class="input-label">{{'FIRST_NAME' | translate}}</ion-label>
         </ion-row>
         <ion-row>
            <ion-item class="input-item" lines="full">
               <ion-input formControlName="firstname" type="text" keyNext></ion-input>
            </ion-item>
         </ion-row>
         <ion-row>
            <ion-label style="margin-top: 36px" class="input-label">{{'LAST_NAME' | translate}}</ion-label>
         </ion-row>
         <ion-row>
            <ion-item class="input-item" lines="full">
               <ion-input formControlName="lastname" type="text" keyNext></ion-input>
            </ion-item>
         </ion-row>
         <ion-row>
            <ion-label style="margin-top: 36px" class="input-label">{{'EMAIL_ADDRESS' | translate}}</ion-label>
         </ion-row>
         <ion-row>
            <ion-item class="input-item" lines="full">
               <ion-input formControlName="username" type="email" keyNext></ion-input>
            </ion-item>
         </ion-row>

         <ion-row>
            <ion-label style="margin-top: 36px" class="input-label">{{'COUNTRY' | translate}}</ion-label>
         </ion-row>
         <ion-row>
            <ion-item class="input-item" lines="full">
               <!-- <ion-label class="placeholder-label" *ngIf="!countryCode">{{'SELECT_COUNTRY' | translate}}</ion-label> -->
               <ionic-selectable
                  style="width: 100%"
                  item-content
                  placeholder="Select Country"
                  [(ngModel)]="country"
                  [items]="countries"
                  itemValueField="code"
                  itemTextField="name"
                  [canSearch]="true"
                  formControlName="country"
                  (onChange)="countryChange($event)">
               </ionic-selectable>
            </ion-item>
         </ion-row>

         <ion-row>
            <ion-label style="margin-top: 36px" class="input-label">{{'PHONE_NO' | translate}}</ion-label>
         </ion-row>
         <ion-row>
            <ion-item class="input-item" lines="full">
               <ion-input formControlName="phoneno" type="tel" placeholder="ex: +94 7X XXXXXXX" keyNext></ion-input>
            </ion-item>
         </ion-row>

         <ion-row style="display: flex; justify-content: center; margin: 10% 0px 10px 0px">
            <ion-button color="primary" [disabled]="!form.valid" (click)="checkMobile()">{{'PROCEED_BUTTON' | translate}}</ion-button>
         </ion-row>
         <ion-row class="ion-justify-content-center">
            <ion-label class="hint-label">{{"ALREADY_HAVE_AN_ACCOUNT" | translate}}</ion-label>
         </ion-row>
         <ion-row class="ion-justify-content-center">
            <ion-note color="primary" style="font-weight: 700; padding-top: 0px" class="link" routerLink="/login" replaceUrl>{{'SIGN_IN'| translate}} </ion-note>
         </ion-row>
      </form>
   </ion-grid>
</ion-content>
