<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Tracified Wallet is under construction.
  <p>get to know more about Tracified <a target="_blank" rel="noopener" href="http://www.tracified.com">Tracified</a> </p>
</ion-content>

<ion-tabs>
  <ion-tab label="One" icon="navigate" href="/tabs/(one:one)">
    <ion-router-outlet name="one"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Two" icon="person" href="/tabs/(two:two)">
    <ion-router-outlet name="two"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Three" icon="bookmarks" href="/tabs/(three:three)">
    <ion-router-outlet name="three"></ion-router-outlet>
  </ion-tab>
</ion-tabs>