<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Mint your NFT</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding main-wrapper">
   <ion-grid class="cusGrid">
      <ion-row style="display: flex; justify-content: center">
         <ion-label class="title-label"
            ><h1>{{"REQUEST_OTP" | translate}}</h1>
            <p>{{"REQUEST_OTP_DESC" | translate}}</p>
         </ion-label>
      </ion-row>
      <form [formGroup]="form">
         <ion-row>
            <ion-label style="margin-top: 32px" class="input-label">{{'SELECTED_IMPORT_LABEL' | translate}}</ion-label>
         </ion-row>
         <ion-row>
            <ion-item class="input-item" lines="full">
               <ion-input formControlName="bcAccount" name="bcAccount" clearInput="false" [disabled]="true"></ion-input>
               <ion-icon slot="end" name="eye" color="primary"> </ion-icon>
            </ion-item>
         </ion-row>

         <ion-row>
            <ion-label style="margin-top: 36px" class="input-label">{{'YOUR_EMAIL_ADDRESS' | translate}}</ion-label>
         </ion-row>
         <ion-row>
            <ion-item class="input-item" lines="full">
               <ion-input formControlName="email" type="email" name="email" [disabled]="true" keyNext></ion-input>
            </ion-item>
         </ion-row>

         <ion-row style="display: flex; justify-content: center; margin: 10% 0px 10px 0px">
            <ion-button color="primary">{{'REQUEST_OTP_BUTTON' | translate}}</ion-button>
         </ion-row>
      </form>
   </ion-grid>
</ion-content>
