<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{'ASSETS' | translate}}</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="ion-padding cusContent">
   <ion-searchbar show-clear-button="always" [(ngModel)]="searchTerm" (ionChange)="setFilteredItems($event)"></ion-searchbar>

   <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
   </ion-refresher>

   <ion-grid>
      <div *ngIf="currentItems.length > 0">
         <ion-row>
            <ion-img class="notification-icon" src="../../assets/imgs/emptystatus-04.png"></ion-img>
         </ion-row>
         <ion-row>
            <div class="full-width text-center line-spacing-small">
               <h1 class="primary-font">{{'ITEMS' | translate}}</h1>
            </div>
         </ion-row>
         <ion-row class="ion-text-wrap">
            <div class="full-width text-center">
               <h3 class="secondary-font">{{'NO_ITEMS' | translate}}</h3>
            </div>
         </ion-row>
      </div>

      <div class="content-start">
         <div class="switch-wrapper cont-wrapper">
            <div class="switch">
               <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox" (change)="changeTab($event)" [(ngModel)]="itemsTabOpened" />
               <label for="language-toggle"></label>
               <span class="on">NFTs</span>
               <span class="off">Items</span>
            </div>
         </div>

         <!--nfts-->
         <div *ngIf="!itemsTabOpened">
            <div *ngIf="currentNfts.length === 0">
               <ion-row>
                  <ion-img class="notification-icon" src="../../assets/imgs/emptystatus-04.png"></ion-img>
               </ion-row>
               <ion-row>
                  <div class="full-width text-center line-spacing-small">
                     <h1 class="primary-font">{{'NFTS' | translate}}</h1>
                  </div>
               </ion-row>
               <ion-row class="ion-text-wrap">
                  <div class="full-width text-center">
                     <h3 class="secondary-font">{{'NO_NFTS' | translate}}</h3>
                  </div>
               </ion-row>
            </div>
            <ion-grid>
               <ion-row *ngFor="let row of nftRowlist">
                  <ion-col [size]="itemColSize" style="display: flex" *ngFor="let item of row">
                     <div class="card item-card">
                        <div class="card-icon">
                           <label class="tag">
                              <img src="../../../assets/icon/stellar-xlm-white.svg" />
                              NFT
                           </label>
                           <img class="nft-svg" [src]="item.thumbnail" />
                        </div>
                        <div class="card-footer">
                           <div class="card-info">
                              <label class="card-title">{{item.nftname}}</label>
                              <label class="card-subtitle">{{item.collection}}</label>
                           </div>
                           <div class="card-actions">
                              <div class="ion-activatable ripple-parent card-action" (click)="getSVG(item.nftcontent)">
                                 <ion-ripple-effect></ion-ripple-effect>
                                 <ion-icon slot="icon-only" name="eye" style="cursor: pointer"></ion-icon>
                              </div>
                              <div class="ion-activatable ripple-parent card-action" id="open-modal" (click)="openModal(item)">
                                 <ion-ripple-effect></ion-ripple-effect>
                                 <ion-icon slot="icon-only" name="send" style="cursor: pointer"></ion-icon>
                              </div>
                           </div>
                        </div>
                     </div>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </div>

         <!--items-->
         <div *ngIf="itemsTabOpened">
            <div *ngIf="currentItems.length === 0">
               <ion-row>
                  <ion-img class="notification-icon" src="../../assets/imgs/emptystatus-04.png"></ion-img>
               </ion-row>
               <ion-row>
                  <div class="full-width text-center line-spacing-small">
                     <h1 class="primary-font">{{'ITEMS' | translate}}</h1>
                  </div>
               </ion-row>
               <ion-row class="ion-text-wrap">
                  <div class="full-width text-center">
                     <h3 class="secondary-font">{{'NO_ITEMS' | translate}}</h3>
                  </div>
               </ion-row>
            </div>
            <ion-grid *ngIf="currentItems.length > 0">
               <ion-row *ngFor="let row of itemRowlist">
                  <ion-col [size]="itemColSize" style="display: flex" *ngFor="let item of row">
                     <div class="card item-card">
                        <div class="card-icon">
                           <label class="tag">Item</label>
                           <img src="../../../assets/imgs/item-icon.svg" />
                        </div>
                        <div class="card-footer">
                           <div class="card-info">
                              <label class="card-title">{{item.asset_code}}</label>
                              <label class="card-subtitle">Quantity: {{item.balance}}</label>
                           </div>
                           <div class="card-actions">
                              <div class="ion-activatable ripple-parent card-action">
                                 <ion-ripple-effect></ion-ripple-effect>
                                 <ion-icon slot="icon-only" name="send" style="cursor: pointer"></ion-icon>
                              </div>
                           </div>
                        </div>
                     </div>
                  </ion-col>
               </ion-row>
            </ion-grid>
         </div>

         <ion-modal
            [class.modal-1]="modalTab == 0"
            [class.modal-2]="modalTab == 1"
            [class.modal-3]="modalTab == 2"
            #modal1
            [trigger]="'open-modal'"
            [isOpen]="isRequestModalOpened"
            (didDismiss)="onDismiss()">
            <ng-template>
               <ion-content>
                  <ion-toolbar>
                     <ion-title>{{'NFT_TRNSFR_REQ' | translate}}</ion-title>
                     <ion-buttons slot="end">
                        <ion-button color="dark" (click)="modal1.dismiss()"><ion-icon slot="icon-only" name="close"></ion-icon></ion-button>
                     </ion-buttons>
                  </ion-toolbar>

                  <form [formGroup]="form" class="modal-content" *ngIf="modalTab == 0">
                     <ion-row>
                        <ion-label style="margin-top: 10px" class="desc">{{'NFT_TRNSFR_REQ_DESC_1' | translate}}</ion-label>
                     </ion-row>
                     <ion-row>
                        <ion-label style="margin-top: 10px" class="input-label">{{'RECEIVER_ADDRESS' | translate}}</ion-label>
                     </ion-row>
                     <ion-row>
                        <ion-item class="input-item" lines="full">
                           <ion-input formControlName="receiverAddr" name="receiverAddr" type="text" clearInput="false"></ion-input>
                        </ion-item>
                     </ion-row>
                     <ion-row style="display: flex; justify-content: center; margin: 10px 0px 10px 0px">
                        <ion-button class="btn" color="dark" [disabled]="!form.valid" (click)="nextTab()">{{'SEND_TRNSFR_REQ' | translate}}</ion-button>
                     </ion-row>
                  </form>

                  <form [formGroup]="pwdForm" class="modal-content" *ngIf="modalTab == 1">
                     <ion-row>
                        <ion-label style="margin-top: 10px" class="desc">{{'CONFIRM_TRNSFR_REQ' | translate}}</ion-label>
                     </ion-row>
                     <ion-row>
                        <ion-label style="margin-top: 10px" class="input-label">{{'ENTER_PWD' | translate}}</ion-label>
                     </ion-row>
                     <ion-row>
                        <ion-item class="input-item" lines="full">
                           <ion-input formControlName="password" name="password" [type]="passwordType" clearInput="false"></ion-input>
                           <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon gray-color" (click)="hideShowPassword()"> </ion-icon>
                        </ion-item>
                     </ion-row>
                     <ion-row style="display: flex; justify-content: center; margin: 10px 0px 10px 0px">
                        <ion-button class="btn" color="dark" [disabled]="!pwdForm.valid" (click)="sendTransferRequest()">{{'CONFIRM' | translate}}</ion-button>
                     </ion-row>
                  </form>

                  <div class="modal-content" *ngIf="modalTab == 2">
                     <ion-row style="justify-content: center">
                        <ion-img src="../../../assets/imgs/nft_transfer.png"></ion-img>
                     </ion-row>
                     <ion-row>
                        <ion-label style="margin-top: 10px" class="desc">{{'NFT_TRNSFR_REQ_DESC_2' | translate}}</ion-label>
                     </ion-row>
                     <ion-row>
                        <ion-label style="margin-top: 10px; margin-bottom: 0px" class="desc">{{'RECEIVER' | translate}}:</ion-label>
                     </ion-row>
                     <ion-row class="pk-row">
                        <ion-label class="pk"><b>{{this.receiverPk.substring(0, 4) + "..." + this.receiverPk.substring(this.receiverPk.length - 4, this.receiverPk.length)}}</b></ion-label>
                        <ion-icon name="eye" color="black" style="font-size: 24px; cursor: pointer" (click)="presentAlert('', this.receiverPk)"></ion-icon>
                     </ion-row>
                     <ion-row style="display: flex; justify-content: center; margin: 10px 0px 10px 0px">
                        <ion-button class="btn" color="dark" (click)="modal1.dismiss()">{{'DONE_BUTTON' | translate}}</ion-button>
                     </ion-row>
                  </div>
               </ion-content>
            </ng-template>
         </ion-modal>
      </div>

      <!-- <div *ngIf="currentItems.length > 0" class="content-start padding-width">
         <ion-row class="item-card padding-width" *ngFor="let item of Searcheditems">
            <ion-row>
               <ion-col size="8">
                  <h2 class="primary-font">{{item.asset_code}}</h2>
               </ion-col>
               <ion-col size="4">
                  <h2 class="primary-font text-right-align-horizontally">{{item.balance}}</h2>
               </ion-col>
            </ion-row>

            <ion-row style="display: flex; justify-content: right">
               <ion-item lines="none">
                  <ion-button [disabled]="item.balance < 1" (click)="openItem(item)">{{ 'TRANSFER' | translate }}</ion-button>
               </ion-item>
            </ion-row>
         </ion-row>
      </div> -->
   </ion-grid>
</ion-content>
