page-fund-transfer {
  .item-inner {
    border-bottom: 0 !important;
    border-bottom-color:  #4F525D !important;
    box-shadow: none !important;
  }

  .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color: #4F525D !important;
  }
}
