page-transfer {
  ion-card {
    overflow: hidden;
    background-color: white !important;
  }

  .notification-icon {
    display: flex;
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 25vh;
  }

  .item-inner {
    border-bottom: 0 !important;
  }
  .card-md {
    border-radius: 4px !important;
  }

  .searchbar-md {
    padding: 8px 8px 4px 8px;
  }

  .secondary-font {
    color: #b1b1b1 !important;
  }

  .primary-font {
    color: #4f525d !important;
  }

  h3 {
    font-size: 1.6rem !important;
    font-weight: 400;
    margin: 0;
  }
}
