<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="currentItems[2]">
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>
  </div>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>


  <ion-grid no-padding class="full-height white-background">
    <div *ngIf="currentItems.length == 0">
      <ion-row>
        <img class="notification-icon" src="../../assets/imgs/emptystatus-04.png" />
      </ion-row>
      <ion-row>
        <div class="full-width text-center line-spacing-small">
          <h1 class="primary-font">Assets</h1>
        </div>
      </ion-row>
      <ion-row text-wrap>
        <div class="full-width text-center">
          <h3 class="secondary-font">No assets assigned to your account at the moment</h3>
        </div>
      </ion-row>
    </div>
    <div *ngIf="currentItems.length > 0">
      <ion-card *ngFor="let item of Searcheditems" (click)="openItem(item)">
        <ion-row>
          <ion-col left text-left>
            <h2 class="item">Item : {{item.asset_code}}</h2>
          </ion-col>
          <ion-col right text-right>
            <h2 class="item" id="item-bal">{{item.balance}}</h2>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>