page-transfer-confirm {
  .fund-amount {
    font-size: 4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-end {
    margin-top: 219px;
    margin-left: 146px;
  }

  .btn-margin {
    margin-right: 23px;
  }
}
