<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{'TRANSFER_ITEM' | translate}}</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
   <div *ngIf="itemSearching" class="pinned-alert"><ion-spinner></ion-spinner> {{'GET_ID_DATA' | translate}}</div>
   <ion-list>
      <ion-item lines="none">
         <ion-label class="ion-text-wrap">{{'FILL_FIELDS' | translate}}</ion-label>
      </ion-item>
      <ion-item>
         <ion-label>{{'RECEIVER' | translate}}</ion-label>

         <ionic-selectable
            item-content
            placeholder="Select"
            [(ngModel)]="selectedReceiver"
            itemValueField="publicKey"
            itemTextField="name"
            [items]="bcAccounts"
            [canSearch]="true"
            (onChange)="onSelectReceiver($event)">
            <ng-template padding-vertical ionicSelectableItemTemplate let-acc="item" let-isAccSelected="isItemSelected">
               <span style="font-size: 16px"> {{acc['name']}} <br /><span style="font-size: 14px">{{publickeyPrint(acc['publicKey'])}}</span> </span>
            </ng-template>
         </ionic-selectable>
      </ion-item>

      <ion-item *ngIf="selectedReceiver.publicKey">
         <ion-label class="ion-text-wrap">{{selectedReceiver.publicKey}}</ion-label>
      </ion-item>
      <ion-item>
         <ion-label position="floating">{{'ITEM' | translate}}</ion-label>
         <ion-select [(ngModel)]="selectedItem">
            <ion-select-option *ngFor="let item of currentItems">{{item.asset_code}}</ion-select-option>
         </ion-select>
      </ion-item>
      <ion-item>
         <ion-label position="floating">{{'IDENTIFIER' | translate}}</ion-label>
         <ion-input class="ion-text-wrap ion-no-boarder" [(ngModel)]="COCForm.identifier" (ionBlur)="identifierLostFocus()" type="text"></ion-input>
      </ion-item>
      <ion-item>
         <ion-label position="floating">{{'QUANTITY' | translate}}</ion-label>
         <ion-input class="ion-text-wrap ion-no-boarder" [(ngModel)]="COCForm.qty" type="number"></ion-input>
      </ion-item>
      <ion-item>
         <ion-label position="floating">{{ 'VALID_TILL' | translate}}</ion-label>
         <ion-datetime pickerFormat="YYYY-MM-DD hh mm A" [(ngModel)]="COCForm.vaidity" displayFormat="YYYY/MM/DD hh:mm A" min="{{minDate}}"></ion-datetime>
      </ion-item>
      <ion-item lines="none" class="ion-padding-top">
         <ion-row style="display: flex; justify-content: center">
            <ion-button color="primary" (click)="transferAsset()">{{ 'TRANSFER' | translate}}</ion-button>
         </ion-row>
      </ion-item>
   </ion-list>
</ion-content>
