<ion-header>
   <ion-toolbar>
      <ion-buttons slot="start">
         <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{'TRANSFER_ITEM' | translate}}</ion-title>
   </ion-toolbar>
</ion-header>

<ion-content>
   <div *ngIf="itemSearching" class="pinned-alert"><ion-spinner></ion-spinner> {{'GET_ID_DATA' | translate}}</div>
   <ion-grid class="padding-content">
      <ion-row class="content-start">
         <h4 class="primary-font">{{'FILL_FIELDS' | translate}}</h4>
      </ion-row>
      <ion-row>
         <ion-row padding-vertical>
            <ion-item>
               <ion-label>{{'RECEIVER' | translate}}</ion-label>
               <!-- <ionic-selectable
                  item-content
                  placeholder="Select"
                  [(ngModel)]="selectedReceiver"
                  itemValueField="publicKey"
                  itemTextField="name"
                  [items]="bcAccounts"
                  [canSearch]="true"
                  (onChange)="onSelectReceiver($event)">
                  <ng-template padding-vertical ionicSelectableItemTemplate let-acc="item" let-isAccSelected="isItemSelected"> {{acc['name']}}<br />{{acc['publicKey']}} </ng-template>
               </ionic-selectable> -->
            </ion-item>
         </ion-row>
         <ion-row>
            <ion-col size="12" class="ion-text-wrap"> {{selectedReceiver.publicKey}} </ion-col>
         </ion-row>
         <ion-row>
            <ion-item>
               <ion-label position="floating">{{'ITEM' | translate}}</ion-label>
               <ion-select [(ngModel)]="selectedItem">
                  <ion-select-option *ngFor="let item of currentItems">{{item.asset_code}}</ion-select-option>
               </ion-select>
            </ion-item>
         </ion-row>
         <ion-row>
            <ion-item>
               <ion-label position="floating">{{'IDENTIFIER' | translate}}</ion-label>
               <ion-input class="ion-text-wrap ion-no-boarder" [(ngModel)]="COCForm.identifier" (ionBlur)="identifierLostFocus()" type="text"></ion-input>
            </ion-item>
         </ion-row>
         <ion-row>
            <ion-item>
               <ion-label position="floating">{{'QUANTITY' | translate}}</ion-label>
               <ion-input class="ion-text-wrap ion-no-boarder" [(ngModel)]="COCForm.qty" type="number"></ion-input>
            </ion-item>
         </ion-row>
         <ion-row>
            <ion-item>
               <ion-label position="floating">{{ 'VALID_TILL' | translate}}</ion-label>
               <ion-datetime pickerFormat="YYYY-MM-DD hh mm A" [(ngModel)]="COCForm.vaidity" displayFormat="YYYY/MM/DD hh:mm A" min="2018-11-29T06:25:48Z" max="2050"></ion-datetime>
            </ion-item>
         </ion-row>
         <ion-row class="content-start">
            <div class="button-wrapper">
               <button class="btn-green" (click)="transferAsset()">{{ 'TRANSFER' | translate}}</button>
            </div>
         </ion-row>
      </ion-row>
   </ion-grid>
</ion-content>
