@import url('../../../base.scss');

ion-img {
   width: 75%;
   height: auto;
   margin: 0 auto;
}

.logo {
   padding-top: 15px !important;
}

.link {
   padding-top: 10px;
   width: auto;
   margin: auto;
   font-size: 16px;
   cursor: pointer;
}
.link:hover {
   color: #00c853;
}

.passwordIcon {
   zoom: 0.8;
   padding-top: 0px;
   z-index: 1;
}

.hint-label {
   font-size: 16px;
   font-weight: 400;
}

.title-label {
   margin-top: 40px;
   text-align: center;
   h1 {
      font-size: 32px;
      font-weight: 300;
   }
   p {
      margin-top: 6px;
      font-size: 16px;
      font-weight: 400;
   }
}

.item-grid {
   width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .cusGrid {
      width: 90%;
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
   .cusGrid {
      width: 60%;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   .cusGrid {
      width: 50%;
   }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   .cusGrid {
      width: 40%;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   .cusGrid {
      width: 30%;
   }
}
