<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'SETTINGS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid class="content-start full-height padding-width">
    <ion-row class="full-height" *ngIf="this.formType == 'displayName'">
      <form class="full-height" [formGroup]="displayName" (ngSubmit)="changeName()">
        <h4 class="primary-font">{{'ENTER_NAME_DESC' | translate}}</h4>
        <ion-item class="line-spacing">
          <ion-label floating>
            {{'FIRST_NAME' | translate}}
          </ion-label>
          <ion-input type="text" formControlName="fName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            {{'LAST_NAME' | translate}}
          </ion-label>
          <ion-input type="text" formControlName="lName"></ion-input>
        </ion-item>
        <div class="button-wrapper content-start">
          <button class="btn-green" ion-button type="submit" [disabled]="!displayName.valid">{{'SUBMIT' | translate}}</button>
        </div>
      </form>
    </ion-row>
    <ion-row *ngIf="formType == 'accountPassword'">
      <form [formGroup]="accountPassword" (ngSubmit)="changePassword()">
        <h4 class="primary-font">{{'ENTER_PASS_DESC' | translate}}</h4>
        <ion-item class="line-spacing">
          <ion-label floating>
            {{'CURRENT_PASSWORD' | translate}}
          </ion-label>
          <ion-input type="password" formControlName="oPassword" [type]="passwordTypeO"></ion-input>
          <ion-icon item-end [name]="passwordIconO" class="passwordIcon" (click)='hideShowPassword(1)'></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label floating>
            {{'NEW_PASSWORD' | translate}}
          </ion-label>
          <ion-input type="password" formControlName="nPassword" [type]="passwordTypeN"></ion-input>
          <ion-icon item-end [name]="passwordIconN" class="passwordIcon" (click)='hideShowPassword(2)'></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label floating>
            {{'CONFIRM_PASSWORD' | translate}}
          </ion-label>
          <ion-input type="password" formControlName="cPassword" [type]="passwordTypeC"></ion-input>
          <ion-icon item-end [name]="passwordIconC" class="passwordIcon" (click)='hideShowPassword(3)'></ion-icon>
        </ion-item>
        <div class="button-wrapper content-start">
          <button class="btn-green" ion-button type="submit" [disabled]="!accountPassword.valid">{{'SUBMIT' | translate}}</button>
        </div>
      </form>
    </ion-row>
    <ion-row *ngIf="formType == 'transactionPassword'">
      <form [formGroup]="transactionPassword" (ngSubmit)="changeTransactionPassword()">
        <h4 class="primary-font">{{'ENTER_PASS_DESC' | translate}}</h4>
        <ion-item class="line-spacing">
          <ion-label floating>
            {{'ACCOUNT_NAME' | translate}}
          </ion-label>
          <ion-input type="text" formControlName="accName" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            {{'PUBLIC_KEY' | translate}}
          </ion-label>
          <ion-input type="text" formControlName="pubKey" [readonly]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            {{'CURRENT_PASSWORD' | translate}}
          </ion-label>
          <ion-input type="password" formControlName="oPassword" [type]="passwordTypeO"></ion-input>
          <ion-icon item-end [name]="passwordIconO" class="passwordIcon" (click)='hideShowPassword(1)'></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label floating>
            {{'NEW_PASSWORD' | translate}}
          </ion-label>
          <ion-input type="password" formControlName="nPassword" [type]="passwordTypeN" floating></ion-input>
          <ion-icon item-end [name]="passwordIconN" class="passwordIcon" (click)='hideShowPassword(2)'></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label floating>
            {{'CONFIRM_PASSWORD' | translate}}
          </ion-label>
          <ion-input type="password" formControlName="cPassword" [type]="passwordTypeC" floating></ion-input>
          <ion-icon item-end [name]="passwordIconC" class="passwordIcon" (click)='hideShowPassword(3)'></ion-icon>
        </ion-item>
        <div class="button-wrapper content-start">
          <button class="btn-green" ion-button type="submit" [disabled]="!transactionPassword.valid">{{'SUBMIT' | translate}}</button>
        </div>
      </form>
    </ion-row>
  </ion-grid>
</ion-content>
