.header {
   ion-label {
      color: #000000;
      font-size: 14px;
      text-align: center;
   }
}
.keyrow {
   padding: 0px 10px;
}
.image {
   width: 20px;
}

.keyValues {
   background-color: #dedede;
   border-radius: 10px;
   padding-left: 5px;

   h4 {
      padding-left: 5px;
   }
}

.keyNames {
   font-weight: 600;
   font-size: 16px;
   color: #000000;
}

.importText {
   display: flex;
   text-align: center;
   justify-content: center;
   background: #914d4d;
   border-radius: 10px;
   padding: 10px 0px;

   .label1 {
      color: #ff7373;
      font-size: 16px;
      font-weight: 400;
   }

   .label2 {
      padding-top: 5px;
      color: white;
      font-size: 14px;
      font-weight: 400;
   }
}

// .labelPK {
//    font-family: 'Inter';
//    font-style: normal;
//    font-weight: 600;
//    font-size: 20px;
//    align-self: flex-start;
// }

// .labelSK {
//    font-family: 'Inter';
//    font-style: normal;
//    font-weight: 600;
//    font-size: 20px;
//    align-self: flex-start;
// }

// .container1 {
//    width: 90%;
//    max-width: 698px;
//    margin-bottom: 50px;

//    .key-cont {
//       display: flex;
//       flex-direction: row;
//       align-items: center;
//       column-gap: 20px;
//       width: 100%;

//       .copy-icon {
//          margin-top: 20px;
//          cursor: pointer;
//          width: 23px;
//          height: 27px;
//       }
//    }
// }

// .container1PK {
//    margin-top: 20px;
//    height: 55px;
//    padding: 0px 10px 0px 10px;
//    background: #dedede;
//    background-color: #28a745;
//    border-radius: 16px;
// }

// .container1SK {
//    margin-top: 20px;
//    height: 55px;
//    padding: 0px 10px 0px 10px;
//    background: #dedede;
//    border-radius: 16px;
// }

// .PK {
//    font-family: 'Inter';
//    font-style: normal;
//    font-weight: 300;
//    font-size: 20px;
//    line-height: 29px;
//    color: #000000;
//    background-color: #28a745;
// }

// .SK {
//    font-family: 'Inter';
//    font-style: normal;
//    font-weight: 300;
//    font-size: 24px;
//    line-height: 29px;
//    color: #000000;
// }

// .container2 {
//    margin-top: 75px;
//    width: 90%;
//    max-width: 694px;
//    padding: 20px 0px 20px 0px;
//    display: flex;
//    flex-direction: column;
//    align-content: center;
//    justify-content: center;
//    background: #914d4d;
//    border-radius: 10px;
// }

// .container2 .heading {
//    font-family: 'Inter';
//    font-style: normal;
//    font-weight: 400;
//    font-size: 24px;
//    /* identical to box height */

//    text-align: center;

//    color: #ff7373;
// }

// .container2 .msg {
//    font-family: 'Inter';
//    font-style: normal;
//    font-weight: 400;
//    font-size: 24px;
//    line-height: 33px;
//    /* identical to box height */

//    text-align: center;

//    color: #ffffff;
// }

// .btn-green {
//    margin-top: 65px;
//    margin-bottom: 50px;
//    width: 153px;

//    background: #28a745;
//    border-radius: 20px;
//    font-family: 'Inter';
//    font-style: normal;
//    font-weight: 500;
//    font-size: 24px;
//    line-height: 29px;
//    /* identical to box height */

//    text-align: center;

//    color: #ffffff;
// }

// .semi-title1 {
//    width: 90%;
//    max-width: 500px;
//    font-family: 'Roboto';
//    font-style: normal;
//    font-weight: 300;
//    font-size: 20px;
//    line-height: 29px;
//    color: #4f525d;
//    text-align: center;
//    margin-bottom: 10px;
// }

// .semi-title2 {
//    width: 90%;
//    max-width: 500px;
//    font-family: 'Roboto';
//    font-style: normal;
//    font-weight: 300;
//    font-size: 20px;
//    line-height: 29px;
//    text-align: center;

//    color: #4f525d;
//    margin-bottom: 50px;
// }

// .input {
//    width: 90%;
//    max-width: 500px;
//    height: 45px;
//    background: #dedede;
//    border-radius: 16px;
//    margin-bottom: 50px;
//    padding: 0px 10px 0px 10px;
// }

// .button {
//    width: 153px;
//    height: 43px;

//    background: #28a745;
//    border-radius: 20px;

//    label {
//       font-family: 'Roboto';
//       font-style: normal;
//       font-weight: 500;
//       font-size: 24px;
//       line-height: 29px;

//       text-align: center;

//       color: #ffffff;
//    }
// }

// .get-keys-form {
//    width: 100%;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    justify-content: center;

//    ion-row {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//    }
// }

// .get-keys-header {
//    position: relative;
//    display: flex;
//    flex-direction: row;
//    justify-content: center;
//    align-items: center;
//    margin-top: 35px;
//    margin-bottom: 55px;
//    ion-label {
//       font-family: 'Roboto';
//       font-style: normal;
//       font-weight: 300;
//       font-size: 24px;
//       line-height: 29px;
//       text-align: center;

//       color: #4f525d;

//       span {
//          color: #28a745;
//          font-weight: 600;
//       }
//    }

//    img {
//       position: absolute;
//       left: 40px;
//       width: 36px;
//       height: 24px;
//    }
// }

@media (max-width: 576px) {
   .get-keys-header {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      label {
         width: 95%;
         font-style: normal;
         font-weight: 300;
         font-size: 24px;
         line-height: 29px;
         text-align: center;
      }

      img {
         position: unset;
         align-self: flex-start;
         margin-left: 20px;
         width: 28px;
         height: 16px;
      }
   }
}
